/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  color: yellow;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.content-container {
  position: relative;
  height:80vh;
}

.content-container i {
  font-size: 28px;
  position: absolute;
  color: blue;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

i:hover {
  font-size:40px;
    color:black;
  opacity:0.5;
  transition: all 0.5s;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align:center;
}

p{
  text-align: center;
}

a{
  color: yellow;
}

/* every element with this class takes up the full 
 width and height of the screen */
.full-screen {
  border: 1px solid grey;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
}

.full-screen p {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#slide-1 {
  background: #d62828;
}

#slide-2 {
  background: #8ecae6;
}

#slide-3 {
  background: #ffafcc;
}


#slide-4{
  background: red;
}

#slide-5{
  background:purple;
}

#slide-6{
  background:green;
}

#slide-7{
  background:red;
}

#slide-8{
  background:red;
}

#slide-9{
  background:red;
}

#slide-10{
  background:red;
}

#slide-11{
  background:red;
}

#slide-12{
  background:red;
}

#slide-13{
  background:red;
}

#slide-14{
  background:red;
}

button{
  border:none;
  cursor: pointer;
  border-radius:5px; 
  padding:5px;
  margin:5px;
  background:white;
}

#checklist {
  position:absolute;
    top:0;
  right:0;
  bottom:0;
  width:200px;
  padding: 25px; 
  background: pink;
}

.hidden-checklist {
  width: 0px;
  overflow: hidden;
  padding:0;
}