/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  color: yellow;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.content-container {
  position: relative;
}

.content-container i {
  font-size: 28px;
  position: absolute;
  color: blue;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align:center;
}

p{
  text-align: center;
}

a{
  color: yellow;
}

/* every element with this class takes up the full 
 width and height of the screen */
.full-screen {
  border: 1px solid grey;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
}

.full-screen p {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#slide-1 {
  background: #d62828;
}

#slide-2 {
  background: #8ecae6;
}

#slide-3 {
  background: #ffafcc;
}


#slide-4{
  background: red;
}

#slide-5{
  background:purple;
}

#slide-6{
  background:green;
}

#slide-7{
  background:red;
}

i:hover {
  background-color: yellow;
  font-size: 28px;
}
